*{
    padding : 0 ;
    margin: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
}
body{
    direction: rtl;
    background-color: rgb(59, 167, 218) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
body {
    font-family: Vazirmatn, sans-serif;
}

.container{
    background-color: #f8f8f8;
    margin: auto;
    width: 700px;
    padding: 30px;
    border: 1px solid inherit;
    border-radius: 12px;
}

h3{
    font-size: 25px;
    padding: 20px 0;
}

.question{
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10xp rgba(117, 117, 117, .3);
}

.question header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.question p{
    font-size: 15px;
    color: #333;
    margin-top: 15px;
}

.question button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(68, 68, 68);
    border: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
